## Jupyter Notebook (this document)

1. Contains multiple  **cells**
1. There are **two types** of cells
    1. Markdown: in which one can use the markup language markdown to write text
    1. Python: this is where you write Python code
1. You can run each cells individually by pressing the arrow on the left of each cell
1. Or typing shift-enter
1. You can also run all or a subset of the cells (see the menu)

In [ ]:
#Note. Add the code below to display the output of all statements not just the last one

#from IPython.core.interactiveshell import InteractiveShell
#InteractiveShell.ast_node_interactivity = "all"

### Literal Values and Types

In Python there are different **types** of objects. In this lecture we will discuss **basic** types
1. Numbers: integers and reals
1. Strings: piece of text
1. Booleans: True or False

In [2]:
"this is a literal string"

'this is a literal string'

In [1]:
# you start a comment with '#'. All the line after '#' is ignored by the interpreter


2 # literal integer

True

In [3]:
3.14 # literal float (real)

3.14

In [4]:
True # literal boolean

True

One can display the **type** of an object by using the _type_ builtin (predefined) **function**

<u> Integer</u>

In [ ]:
type(2)

<u>String</u>

In [ ]:
type("this is a literal string")

<u>Floating point</u>

In [ ]:
type(3.14)

<u>Boolean</u>

In [17]:
type(True)

bool

By default, **Only** the output of the last line is shown. If you want to change that behavior check the comments at the beginning of this notebook.

In [5]:
type(2)
type("this is a literal string")
type(3.14)
type(True)

bool

Or we can use the **print** builtin (predefined) function to display values

In [6]:
print(2)
print('some string')
print(type("this is a literal string"))
print(type(3.14))
print(type(True))

2
some string
<class 'str'>
<class 'float'>
<class 'bool'>

## Variables

The values we have seen so far are literals (constants) and we cannot **change** them.
A variable is an identifier (string) that refers to a value stored in memory. The value could be a number, a string or any other object. And that value can be **changed**.
A identifier could be any string in the set a-zA-Z0-9 and _ (**underscore**). It **CANNOT** start with a digit.

In [64]:
x=2    # store the value 2 in memory and give that location the label 'x'
type(x)

int

Python is dynamically typed. A variable's type is automatically determined depending on the value it is assigned. Also, when the value changes the type can change.

In [ ]:
x='some string' # we can use double or single quotes for strings
type(x)

The name of a variable can contain any character from the set a-z, the set A-Z, the set 0-9, and '_' (underscore).
But it **cannot** start with a digit.

In [ ]:
thisIsValidName=17
this_is_a_valid_name=29

A variable name **cannot** start with a digit

In [ ]:
9Notvalid=23

but it can **contain** digits

In [ ]:
Valid8=12

The **print** can take multiple parameters (inputs) separated by **commas**.

In [ ]:
x=3.4
y=17
print("y has value",y,"and type",type(y))
print("x has value",x,"and type",type(x))

In [ ]:
x=1+2j
type(x)

A variable **MUST be defined** (assigned a value) before use

In [ ]:
x=y+1

#### Shortcut for assigning values to multiple variables

In [ ]:
a,b,c=3.4,True,'string'
print(type(a),type(b),type(c))

## Operators

There are different operators for different types. Even if the same symbol is used for different types, the meaning usually is different

### Arithmetic Operators

##### Addition

In [ ]:
x,y=7,8
x+y

##### Multiplication

In [ ]:
x*y

##### Subtraction

In [ ]:
x-y

##### unitary minus

In [ ]:
-x*y

##### Minus sign is considered subtraction only if to its left and right are numbers

In [ ]:
x,y=7,8
print(x-y)
print(x*-y)
print(-x*---y)
print(x--y)

##### Division always produces float

In [ ]:
x,y=6,3
print(type(x),type(y))
z=x/y
type(z)

#### Integer division

In [ ]:
x,y=6,3
z=x//y
type(z)

##### Exponentiation

In [56]:
x=2
y=3.001
print("x=",x**3,"y=",y**2)

x= 8 y= 9.006001

##### Exponent can be a float

In [55]:
x=2**0.5
print("square root of 2 is ",x)

square root of 2 is  1.4142135623730951

##### Modulus

The modulus operator computes the remainder of the division. An example is to determine if a number is even or odd

In [ ]:
x,y,z=7,8,14
print("x is odd because x%2=",x%2,"while y is even because y%2=",y%2)
print("remainder of the division of z by 5 is",z%5)

### Logical Operators

##### Negations

In [ ]:
x=True
not x

remember Python is case sensitive

In [ ]:
x=true

##### Logical "and", logical "or"

In [ ]:
x,y=True,False
print(x and y,x or y)

### Relational Operators

In [ ]:
x,y=4,8
# test equality
print(x==y)
# x greater or equal to y
print(x>=y)
# x less than y
print(x<y)
# x not equal to y
print(x!=y)

### String operators

##### Concatenations

In [ ]:
left='hello '
right='there'
left+right

Note that we used the symbol '+' for operations on two different types. For numbers it is the usual addition operations. For strings it denotes the concatenation operator

### multiplication is not defined for strings

In [ ]:
'first'*'second'

##### Repetition
The * operator denotes repetition for strings

In [ ]:
print('a'*3,4*'bab')

##### set membership

In [ ]:
x='needle in hay stack'
y='hay'
z='hat'
print(y in x)
print(z not in x)

## Type Casting
type casting is used to change the type of a variable

##### Convert a number to string

In [ ]:
x=13.4
y=65
print(x+y)
s=str(x)+str(y)
print(s)

##### Convert a string to int

In [ ]:
y=int('12')+3
print(y)

##### Convert string to float

In [ ]:
z=float('3.33e-2')
print(z)

##### Implicit Casting
Sometimes the Python interpreter implicitly convert one type to another (when feasible)

In [ ]:
x=2
print(type(x))
x=x+1.1           #Harmless
print(type(x))

In [ ]:
x=True+4       #not recommended
print(x)
print(type(x))

In [ ]:
x=True+1.1
print(type(x))

#### Reading user input

1. use the 'input' function to prompt the user to enter an input.
1. If we are expecting a number we must cast it to int or float since the return value of the _input_ function is a string.

In [57]:
user_input=input('Enter an integer ')
print("The user input is ",user_input,"its type is ",type(user_input))
user_input_int=int(user_input)
print("Converted the input to ",type(user_input_int))

Enter an integer 12
The user input is  12 its type is  <class 'str'>
Converted the input to  <class 'int'>

### Example algorithm: Finding the square root

Try the code below to find the square root of 1000 with an initial guess of 15

In [32]:
x=float(input('enter number '))
g=float(input('enter your guess for square root '))
epsilon=0.0001
r=g*g-x
print("difference",r)
g=(g+x/g)/2
print('new guess',g,'difference=',g*g-x,"close enough?",g*g-x<epsilon)
g=(g+x/g)/2
print('new guess',g,'difference=',g*g-x,"close enough?",g*g-x<epsilon)
g=(g+x/g)/2
print('new guess',g,'difference=',g*g-x,"close enough?",g*g-x<epsilon)
g=(g+x/g)/2
print('new guess',g,'difference=',g*g-x,"close enough?",g*g-x<epsilon)
g=(g+x/g)/2
print('new guess',g,'difference=',g*g-x,"close enough?",g*g-x<epsilon)

enter number 1000
enter your guess for square root 15
difference -775.0
new guess 40.833333333333336 difference= 667.3611111111113 close enough? False
new guess 32.66156462585034 difference= 66.77780380859826 close enough? False
new guess 31.639295720891845 difference= 1.045033714044962 close enough? False
new guess 31.622780914063277 difference= 0.0002727388447283374 close enough? False
new guess 31.622776601684087 difference= 1.864464138634503e-11 close enough? True

### Discussion of the algorithm

In the above example we repeated (iterated) the formula g=(g+x/g)/2. In fact we manually repeated the code 5 times.
Obviously this is not an efficient way to do it
1. What if the algorithm needs 1000's of repetitions? We must have a way to 'automatically' repeat a piece of code
1. How do we know a priori how many repetitions are need? We need to be able to check the difference and stop iterattion when the desired accuracy is reached.

All the above question will be answered next week when we discuss control structures

### Another example: is the input a prime?

One (inefficient) way of determining the primality of a number **n** is to test its divisibility by all the numbers from 2 to n-1.
The code below works if the number is 7 because we are testing divisibily by 2...6.
What if we input another number? Try 5 or 49 and you get the wrong answer.

Obviously for each input we need to modify the code. To write a code that works for all input we need something like

Input: **n**
algorithm: 
1. **for each value i from 2 to n-1 do**
1.   **if n is divisible by i then report not prime and exit**
1. **when all tests are negative report prime**

In [72]:
x=int(input("enter an integer "))
print("divisible by 2? --->",x%2==0)
print("divisible by 3? --->",x%3==0)
print("divisible by 4? --->",x%4==0)
print("divisible by 5? --->",x%5==0)
print("divisible by 6? --->",x%6==0)

enter an integer 49
divisible by 2? ---> False
divisible by 3? ---> False
divisible by 4? ---> False
divisible by 5? ---> False
divisible by 6? ---> False

## Expressions

An expression is a statement containing one or more variables with one or more operators

In [ ]:
x,y=2,12
-2*x+8==y/3

## Operator Precedence

Here is a list of operator precedence starting from the highest (partial list)

1. () parenthesis 
1. function call.
1. exponentiation '**'
1. unary minus '-'
1. *,/,//,%
1. +,-
1. <,>,<=,>=,==,!=
1. not
1. and
1. or
1. =

In [ ]:
x=2+2**2
print("x=",x,"not 16")

In [58]:
x=8**1/2 # ** has higher precedence than /
print("x=",x,"i.e. 8/2 not square root of 8")

x= 4.0 i.e. 8/2 not square root of 8

In [ ]:
x=3+4*2 # * has higher precedence than +
print("x=",x,"not 14")

In [60]:
x=-2**2 # ** has higher precedence than unary minus
print("x=",x,"not 4")

x= -4 not 4

In [ ]:
x=not 2>3 or 7>=3  # not has higher precedence than or
y=not (2>3 or 7>=3)
print("x=",x,".It is not",y)

In [61]:
x=6>5 or 12<10 and 10>12 # and has higher precedence than or
y=(6>5 or 12<10) and 10>12
print("x=",x,".It is not",y)

x= True .It is not False

### Importing modules

Use module 'math'

In [ ]:
import math

From module 'math' use function **log**

In [ ]:
math.log(10)

There is **no** function **log10**: it is **math.log10**

In [ ]:
log10(10)

In [ ]:
math.log(math.e)

Instead of using the qualifier math.log,math.log10,...etc we can import as follows

In [ ]:
from math import log,log2,log10,e

In [ ]:
log10(10)

In [ ]:
log2(2)

In [ ]:
log(e)

### Computing e
By definition log(e)=1 or log(e)-1=0. Therefore e is the root of the function log(x)-1. A simple method for finding the root of a function is the Newton method (later in the course). For this example it is sufficient to know that the root of log(e)-1
can be found by iterating (as we did for finding the square root):  g=g-(log(g)-1)*g.

**NOTE** since the log of a negative number is undefined make sure you initial guess is strictly positive and less or equal to 7

In [63]:
from math import log,e
x=1
print("e is ",e)
g=float(input("enter guess "))
g=g-(log(g)-1)*g
print(g)
g=g-(log(g)-1)*g
print(g)
g=g-(log(g)-1)*g
print(g)
g=g-(log(g)-1)*g
print(g)

e is  2.718281828459045
enter guess 5
1.9528104378294984
2.598664244074909
2.7156104738951616
2.718280515410132