## Juputer Notebook (this document)

1. Contains multiple  **cells**
1. There are **two types** of cells
    1. Markdown: in which one can use the markup language markdown to write text
    1. Python: this is where you write Python code
1. You can run each cells individually by pressing the arrow on the left of each cell
1. Or typing shift-enter
1. You can also run all or a subset of the cells (see the menu)

In [ ]:
#Note. Add the code below to display all the results not just the last one

#from IPython.core.interactiveshell import InteractiveShell
#InteractiveShell.ast_node_interactivity = "all"

## Variables and Types

A variable is a string that refers to a value stored in memory. The value could be a number, a string or any other object.
A name could be any string in the set a-zA-Z0-9 and _ (**underscore**). It **CANNOT** start with a digit.

Python is dynamically typed. A variable's type is automatically determined depending on the value it is assigned. Also, when the value changes the type can change.

Notice that the last line has output

In [ ]:
x=2
type(x)

Notice that there is **no** output

In [ ]:
thisIsValidName=17
this_is_a_valid_name=29

A variable name **cannot** start with a digit

In [ ]:
9Notvalid=23

but it can **contain** digits

In [ ]:
Valid8=12

**Only** the output of the last line is shown

In [ ]:
x=3.4
y=17
type(y)
type(x)

use the **print** function to display an output

In [ ]:
x=3.4
y=17
print("y has value",y,"and type",type(y))
print("x has value",x,"and type",type(x))

In [ ]:
x=1+2j
type(x)

In [ ]:
x='this is a string'
type(x)

In [ ]:
b=True
type(b)

A variable **MUST be defined** (assigned a value) before use

In [ ]:
x=y+1

#### Shortcut for assigning values to multiple variables

In [ ]:
a,b,c=3.4,True,'string'
print(type(a),type(b),type(c))

## Operators

There are different operators for different types. Even if the same symbol is used for different types, the meaning usually is different

### Arithmetic Operators

##### Addition

In [ ]:
x,y=7,8
x+y

##### Multiplication

In [ ]:
x*y

##### Subtraction

In [ ]:
x-y

##### unitary minus

In [ ]:
-x*y

##### Minus sign is considered subtraction only if to its left and right are numbers

In [ ]:
x,y=7,8
print(x-y)
print(x*-y)
print(-x*---y)
print(x--y)

##### Division always produces float

In [ ]:
x,y=6,3
print(type(x),type(y))
z=x/y
type(z)

#### Integer division

In [ ]:
x,y=6,3
z=x//y
type(z)

##### Exponentiation

In [ ]:
x=2
y=3.001
print("x=",x**3,"y=",y**2)

##### Modulus

The modulus operator computes the remainder of the division. An example is to determine if a number is even or odd

In [ ]:
x,y,z=7,8,14
print("x is odd because x%2=",x%2,"while y is even because y%2=",y%2)
print("remainder of the division of z by 5 is",z%5)

### Logical Operators

##### Negations

In [ ]:
x=True
not x

remember Python is case sensitive

In [ ]:
x=true

##### Logical "and", logical "or"

In [ ]:
x,y=True,False
print(x and y,x or y)

### Relational Operators

In [ ]:
x,y=4,8
# test equality
print(x==y)
# x greater or equal to y
print(x>=y)
# x less than y
print(x<y)
# x not equal to y
print(x!=y)

### String operators

##### Concatenations

In [ ]:
left='hello '
right='there'
left+right

Note that we used the symbol '+' for operations on two different types. For numbers it is the usual addition operations. For strings it denotes the concatenation operator

### multiplication is not defined for strings

In [ ]:
'first'*'second'

##### Repetition
The * operator denotes repetition for strings

In [ ]:
print('a'*3,4*'bab')

##### set membership

In [ ]:
x='needle in hay stack'
y='hay'
z='hat'
print(y in x)
print(z not in x)

## Type Casting
type casting is used to change the type of a variable

##### Convert a number to string

In [ ]:
x=13.4
y=65
print(x+y)
s=str(x)+str(y)
print(s)

##### Convert a string to int

In [ ]:
y=int('12')+3
print(y)

##### Convert string to float

In [ ]:
z=float('3.33e-2')
print(z)

##### Implicit Casting
Sometimes the Python interpreter implicitly convert one type to another (when feasible)

In [ ]:
x=2
print(type(x))
x=x+1.1           #Harmless
print(type(x))

In [ ]:
x=True+4       #not recommended
print(x)
print(type(x))

In [ ]:
x=True+1.1
print(type(x))

## Expressions

An expression is a statement containing one or more variables with one or more operators

In [ ]:
x,y=2,12
-2*x+8==y/3

## Operator Precedence

Here is a list of operator precedence starting from the highest (partial list)

1. () parenthesis 
1. function call.
1. exponentiation '**'
1. unary minus '-'
1. *,/,//,%
1. +,-
1. <,>,<=,>=,==,!=
1. not
1. and
1. or
1. =

In [ ]:
x=2+2**2
print("x=",x,"not 16")

In [ ]:
x=3+4*2
print("x=",x,"not 14")

In [ ]:
x=-2**2
print("x=",x,"not 4")

In [ ]:
x=not 2>3 or 7>=3 
y=not (2>3 or 7>=3)
print("x=",x,".It is not",y)

In [ ]:
x=6>5 or 12<10 and 10>12
y=(6>5 or 12<10) and 10>12
print("x=",x,".It is not",y)

### Importing modules

In [ ]:
import math

In [ ]:
math.log(10)

In [ ]:
log10(10)

In [ ]:
math.log(math.e)

In [ ]:
from math import log,log2,log10,e

In [ ]:
log10(10)

In [ ]:
log2(2)

In [ ]:
log(e)